/* HeroSection.css */

.wrapper {
    padding: 9rem 0;
    background: url('./images/hero.jpeg') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .title {
    font-size: 5rem; /* Adjust size as needed */
    color: white; /* Change to your desired color */
    font-family: 'Lobster', cursive; /* Use the Google Font */
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease forwards;
  }
  
  
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  